body{
    background: url(img/bglogin.png);
    background-position: center; 
    padding: 30px 10px;
	}
table{
	width: 100%;
	text-align: center;
	background-color: #ffffff;
}
tr,td{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 5px;
}
tr:nth-child(even){
	background-color: #B0C4DE;
}
th{ 
	border: 1px solid #dddddd;
	text-align: left;
	padding: 10px;
	font-size: 20px;
	background-color: #708090;
}
.judul{
	text-align: left;
	font-size: 30px;
	padding: 10px;
	background-color: #ffffff;
}
a{
	text-decoration: none;
	color: black;
}
.btn{
	border: 2px solid transparent;
  	background: #003399;
  	color: #ffffff;
  	font-size: 18px;
  	line-height: 20px;
  	padding: 10px 0;
  	text-decoration: none;
  	text-shadow: none;
  	border-radius: 3px;
  	box-shadow: none;
  	transition: 0.25s;
  	display: block;
  	width: 250px;
  	margin: 0 auto;
  	text-align: center;
}