body{
	background-color: #A9A9A9;
	}
table{
	width: 100%;
	text-align: center;
	background-color: #ffffff;
}
tr,td{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 10px;
}
tr:nth-child(even){
	background-color: #00FFFF;
}
th{
	text-align: center;
}