body{
	background: black;
}
.header{
	width: 1100px;
	height: 150px;
	margin: 0 auto;
	background: #666666;
}
.header h1{ 
	flood-color: #666666;
	float: left;
	padding: 10px;
	text-align: left;
	font-family: arial;
	margin-left: 30px;
	margin-right: 550px;
	border-radius: 10px;
	background: #4d4d4d; 
	width: 300px;
}
.header h1 small{
	text-align: left;
	text-decoration: none;
	font-family: arial;
	font-size: 20px;
}

.kotak img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
 
.zoom-effect:hover .kotak img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

img{
	width: 100px;
	height: 100px;
	padding: 20px;
	border-radius: 50px;
}

.menu{
	border-top: 1px solid;
	border-color: #808080;
	width: 1100px;
	height: 45px;
	margin: auto;
	background: #808080;
	text-align: center;
}
.menu ul li {
	display: inline;

}

.menu ul li a {
	color: #dddddd;
	margin:0 30px;
	text-decoration: none;
	font-family: verdana;

}
.menu ul li a:hover{
	color: #ffffff;
	margin:0 30px;
	text-decoration: none;
	font-family: verdana;

}
.konten{
	background : #ffffff; 
	border-top: 1px solid;
	width: 1100px;
	height: 720px;
	margin: 0 auto;
}
.subkonten1{
	border-radius: 10px;
	width: 780px;
	height: 700px;
	float: left;
	margin: 5px;
	background: #dddddd;
}

.kotak2 img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
 
.zoom-effect2:hover .kotak2 img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.img1{
	width: 700px;
	height: 350px;
	padding: 30px 30px 10px 40px;
}
.subkonten2{
	border-radius: 10px;
	width: 289px;
	height: 425px;
	float: left;
	margin: 5px;
	background: #dddddd;
}
.subkonten2 strong{
	padding: 10px;
 }
.kotak3 img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
 
.zoom-effect3:hover .kotak3 img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.img3{
	width: 250px;
	height: 250px;
	padding: 20px 20px;
}